.title-form{
    margin: 3%;
    color: #adb5bd;
    font-family: "Open Sans", sans-serif;
    border-bottom: medium solid #adb5bd;
}

Form > Button{
    /*background-color: white !important;*/
}

.card-form{
    background: linear-gradient(87deg,#11cdef,#1171ef)!important;;
}

Form{
    font-family: Open Sans,sans-serif;
    font-size: 1rem;
    color: white;
}

@media screen and (max-width: 640px) {
    .title-form{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 400px) {
    .title-form{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 350px) {
    .title-form{
        font-size: 1.0em;
    }
    .button-form > div{
        font-size: 0.8rem;
    }
}