#classement-left{
    margin-left: 5%;
    margin-right: 5%;
}

#classement-right{
    text-align: center;
    padding-right: 5%;
    border-left: dashed lightgrey;
}

#nombre-courses{
    font-weight: bold;
    font-size: 3rem;
}

#courses{
    color: lightslategrey;
}

#card-classement{
    padding-bottom: 5%;
}


.info-importante{
    color: #76B4FF;
}

.classement-chiffres{
    text-align: right;
}

.title-classement{
    margin: 3%;
    color: #adb5bd;
    font-family: "Open Sans", sans-serif;
}


@media screen and (max-width: 640px) {
    .title-classement{
        font-size: 2em;
    }
    #classement-left{
        font-size: 1em;
    }
    #classement-right{
        font-size: 1em;
    }
    #nombre-courses{
        font-size: 1.6em;
    }
    #courses{
        font-size: 1em;
    }
    #card-classement{
        font-size: 1em;
    }
    .info-importante{
        font-size: 1em;
    }
    .classement-chiffres{
        font-size: 1em;
    }
}

@media screen and (max-width: 400px) {
    .title-classement{
        font-size: 2em;
    }
    #classement-left{
        font-size: 1em;
    }
    #classement-right{
        font-size: 1em;
    }
    #nombre-courses{
        font-size: 1.6em;
    }
    #courses{
        font-size: 1em;
    }
    #card-classement{
        font-size: 1em;
    }
    .info-importante{
        font-size: 1em;
    }
    .classement-chiffres{
        font-size: 1em;
    }
}

@media screen and (max-width: 350px) {
    .title-classement{
        font-size: 2em;
    }
    #classement-left{
        font-size: 1em;
    }
    #classement-right{
        font-size: 1em;
    }
    #nombre-courses{
        font-size: 1em;
    }
    #courses{
        font-size: 1.6em;
    }
    #card-classement{
        font-size: 1em;
    }
    .info-importante{
        font-size: 1em;
    }
    .classement-chiffres{
        font-size: 1em;
    }
}