.card-info{
    background-color: #43425D !important;
}

.info{
    margin: 10%;
}

.info h3{
    text-align: center;
    color: white !important;
}

#debugText{
    text-align: center;
    background-color: rgba(38,50,56,1);
    color: rgba(243,181,69,1);
    height: 278px;
    border-radius: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 640px) {
    .info h3{
        font-size: 2em;
    }
}

@media screen and (max-width: 400px) {
    .info h3{
        font-size: 1.8em;
    }
}

@media screen and (max-width: 350px) {
    .info h3{
        font-size: 1.8em;
    }
}