.card-info{
    background-color: #43425D !important;
}

.info{
    margin: 10%;
}

.info h3{
    text-align: center;
    color: white !important;
}

.info h1{
    text-align: center;
    color: white !important;
    margin-top: 10%;
}

.info p{
    text-align: center;
    color: white !important;
}

.accident{
    display: block;
    margin : auto;
}

@media screen and (max-width: 640px) {
    .info h3{
        font-size: 1.2em;
    }
    .info h1{
        font-size: 1.5em;
    }
    .info p{
        font-size: 1.0em;
    }
    #accident{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 400px) {
    .info h3{
        font-size: 1.2em;
    }
    .info h1{
        font-size: 1.5em;
    }
    .info p{
        font-size: 1.0em;
    }
    #accident{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 350px) {
    .info h3{
        font-size: 1.0em;
    }
    .info h1{
        font-size: 1.2em;
    }
    .info p{
        font-size: 0.8em;
    }
    #accident{
        font-size: 0.8em !important;
    }
}