#user-left{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

#user-right{
    text-align: center;
    padding-right: 5%;
    margin-top: 2%;
    border-left: dashed lightgrey;
    padding-top: 5%;
}

#nombre-capteur{
    font-weight: bold;
    font-size: 3rem;
}

#capteurs{
    color: lightslategrey;
}

#card-user{
    padding-bottom: 2%;
}

#title-id{
    font-size: 1.5rem;
}

.info-importante{
    color: #76B4FF;
}

.user-chiffres{
    text-align: right;
}

.title-user{
    margin: 3%;
    color: #adb5bd;
    font-family: "Open Sans", sans-serif;
}


@media screen and (max-width: 640px) {
    .title-user{
        font-size: 2em;
    }
    #user-left{
        font-size: 1em;
    }
    #user-right{
        font-size: 1em;
    }
    #nombre-capteur{
        font-size: 1.6em;
    }
    #capteurs{
        font-size: 1em;
    }
    #card-user{
        font-size: 1em;
    }
    .info-importante{
        font-size: 1em;
    }
    .user-chiffres{
        font-size: 1em;
    }
}

@media screen and (max-width: 400px) {
    .title-user{
        font-size: 2em;
    }
    #user-left{
        font-size: 1em;
    }
    #user-right{
        font-size: 1em;
    }
    #nombre-capteur{
        font-size: 1.6em;
    }
    #capteurs{
        font-size: 1em;
    }
    #card-user{
        font-size: 1em;
    }
    .info-importante{
        font-size: 1em;
    }
    .user-chiffres{
        font-size: 1em;
    }
}

@media screen and (max-width: 350px) {
    .title-user{
        font-size: 2em;
    }
    #user-left{
        font-size: 1em;
    }
    #user-right{
        font-size: 1em;
    }
    #nombre-capteur{
        font-size: 1em;
    }
    #capteurs{
        font-size: 1.6em;
    }
    #card-user{
        font-size: 1em;
    }
    .info-importante{
        font-size: 1em;
    }
    .user-chiffres{
        font-size: 1em;
    }
}