@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  font-family: "Open Sans", sans-serif;
  background-color: #F0ECEC;
}

.App-logo {
  height: 5vmin;
}

.bg-gradient-info {
  background: linear-gradient(87deg,#11cdef,#1171ef)!important;
  padding-bottom: 10%;
  width: 100%;
}

.main{
  padding-bottom: 50px;
}

.middle-row{
  margin-top: -10%;
}

footer{
  height: 50px;
  width: 100%;
  text-align: center;
  color: gray;
}

.page-slide-enter {
  transform: translateX(-100%);
}
.page-slide-enter.page-slide-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-out;
}
.page-slide-exit {
  transform: translateX(0);
}
.page-slide-exit.page-slide-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms ease-out;
}

.page-slide-enter {
  transform: translateX(100%);
}
.page-slide-enter.page-slide-enter-active {
  transform: translateX(0);
  transition: transform 500ms ease-out;
}
.page-slide-exit {
  transform: translateX(0);
}
.page-slide-exit.page-slide-exit-active {
  transform: translateX(100%);
  transition: transform 500ms ease-out;
}